* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(245, 237, 226);
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: rgb(111, 170, 84);
    border-radius: 4px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-weight: 600;
    line-height: 20px;
   
    text-align: left;
    
}


/*main style */
header {
    background-color: rgb(248, 244, 244);
    padding-top: 30px;
}

nav {
    border: 1px solid rgb(241, 218, 218);
    margin-left: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    text-decoration: none;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

nav .menu a {
    font-size: 20px;
    color: #181818;
}
#banner {
    border:1px solid rgb(54, 54, 54) ;
    background-image: url("./images\ 1.1/hero-bg.png");
    }

#banner .banner-content h1{
    font-size: 72px;
    font-weight: 700;
    color: hwb(0 95% 3%);
}
.banner-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 250px 0;
}
.banner-content h2{
    font-size: 72px;
    font-weight: 700;
    color: green;

}

#banner .banner-content p{
    font-size: 18x;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff
}
#skills {
    padding-top:130 ;
}

#skills .skills-container{
width: 71%;
max-width:1480 ;


}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card {
    padding: 30px;
 border: 1px solid rgb(156, 78, 78);
   box-shadow: 0 ,6px, 50px #b6b4b400;

    max-width:100 ;
    }
     
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
    background-color: hwb(348 8% 14%);
}

#solution{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#solution img{
width: 500px;
height: 500px;
border-radius: 13px;
padding:50px
}
.hero-content h3{
    font-size: 20px;
    font-weight: 700;
    color: hsl(120, 65%, 44%);
    
   }
   .hero-content h1{
font-size: 48px;
font-weight: 600px;
height: 390;
color: #181818;
display: flex;

   }
.hero-content p{
    font-size: 16;
    color:rgb(90, 90, 90);
}


 #skills {
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
 }
#ready h1{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    font-size: 48px;
font-weight: 600px;
height: 390;
color: #181818;

}
#ready {
   text-align: center;
    max-width: 1250px;
    margin: 0 auto; 
    padding: 50px;
   
}
  #ready  .btn{
    width: 135px;
    height:30px ;
  }
  #ready h3{
    font-size: 20px;
    color: #627382;
  }
  #ready p{
   font-size: 20px;
    color: #627382;


  }
 .icons {
    background-color: #090942;

}
#h3 .icon{
    color: #ffffff;
}



 
