* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(245, 237, 226);
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: rgb(97, 206, 46);
    border-radius: 4px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-weight: 600;
    line-height: 20px;
   
    text-align: left;
    
}


/*main style */
header {
    background-color: rgb(248, 244, 244);
    padding-top: 30px;
}

nav {
    border: 1px solid rgb(241, 218, 218);
    margin-left: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    text-decoration: none;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

nav .menu a {
    font-size: 20px;
    color: #181818;
}
#banner {
    border:1px solid rgb(54, 54, 54) ;
    background-image: url("./images\ 1.1/hero-bg.png");
    }

#banner .banner-content h1{
    font-size: 72px;
    font-weight: 700;
    color: hwb(0 95% 3%);
}
.banner-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 250px 0;
}
.banner-content h2{
    font-size: 72px;
    font-weight: 700;
    color: green;

}

#banner .banner-content p{
    font-size: 18x;
    line-height: 24px;
    font-weight: 400;
    color: white
}

